
<h3 class="form-signin-heading"><%= ctx %></h3>
<form action="<%= url %>" class="form-signin" method="post">
<select id="serverid" name="serverid">
  <option value="1">--请选择服务器--</option>
  <% for(var i=1;i < 10;i++){ %>
  <option value = "<%=i %>"><%=i %></option>
  <% } %>
</select>
<input type="text" class="input-block-level" id="allianceId" name="allianceId" req="true" placeholder="公会ID" exp="^[1-9]\d*$" ts='公会ID格式错误'>
<input type="text" class="input-block-level" id="StartTime" name="StartTime" req="true" placeholder="开始时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='注册开始时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="text" class="input-block-level" id="EndTime" name="EndTime" req="true" placeholder="结束时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='注册结束时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="text" class="input-block-level" id="pageNum" name="pageNum" req="true" placeholder="每页显示数量" exp="^[1-9]\d*$" ts='每页显示数量格式错误' value='50'>
<input type='hidden' name='page_id' id='page_id' value='1'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<script type="text/javascript">
  F.st();
</script>