<style type="text/css">
	td{
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	table{
		table-layout:fixed;
	}
</style>
<%
var stime = data.StartTime;
var etime = data.EndTime;
var serverid = data.serverid;
var allianceId = data.allianceId;
%>
<form action="/gamelog/result/chat_alliance" method="post">
<select id="serverid" name="serverid">
  <option value="<%=serverid %>">--请选择服务器--</option>
  <% for(var i=1;i < 10;i++){ %>
  <option value = "<%=i %>"><%=i %></option>
  <% } %>
</select>
<input type="text" id="allianceId" name="allianceId" value="<%=allianceId %>" req="true" placeholder="公会ID" exp="^[1-9]\d*$" ts='公会ID格式错误'>
<input type="text" id="StartTime" name="StartTime" value="<%=stime %>" req="true" placeholder="开始时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='注册开始时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="text" id="EndTime" name="EndTime" value="<%=etime %>" req="true" placeholder="结束时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='注册结束时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="text" id="pageNum" name="pageNum" req="true" placeholder="每页显示数量" exp="^[1-9]\d*$" ts='每页显示数量格式错误' value='50'>
<input type='hidden' name='page_id' id='page_id' value='1'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<script type="text/javascript">
  F.st();
</script>

<h2>公会聊天记录查询结果:</h2>
<% if(data.ret==0){ %>

<% if(data.result.length>0){%>
<div class="row-fluid">

	<div class='span2'><a class="btn" id="exportExcel" href="javascript:;">导出Excel</a><p>第<%=data.page_id%>页</p></div>
	<% if(data.next_id){%>
	<div class='span1'>
		<form action="<%= data.url %>" method="post">
		<input type="hidden" name="serverid" value='<%=data.serverid%>'>
		<input type="hidden" name="allianceId" value='<%=data.allianceId%>'>
		<input type="hidden" name="StartTime" value='<%=data.StartTime%>'>
		<input type="hidden" name="EndTime" value='<%=data.EndTime%>'>
		<input type="hidden" name="pageNum" value='<%=data.pageNum%>'>
		<input type='hidden' name='page_id' value='<%=data.next_id%>'>
		<button class="btn" type="submit">下一页</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
	<% } %>
	<% if(data.prev_id){%>
	<div class='span1'>
		<form action="<%= data.url %>" method="post">
		<input type="hidden" name="serverid" value='<%=data.serverid%>'>
		<input type="hidden" name="allianceId" value='<%=data.allianceId%>'>
		<input type="hidden" name="StartTime" value='<%=data.StartTime%>'>
		<input type="hidden" name="EndTime" value='<%=data.EndTime%>'>
		<input type="hidden" name="pageNum" value='<%=data.pageNum%>'>
		<input type='hidden' name='page_id' value='<%=data.prev_id%>'>
		<button class="btn" type="submit">上一页</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
	<% } %>
</div>
<% } %>
<div class="table-responsive">
<table id="targetTable" name="targetTable">
	<thead>
	</thead>
	<tbody>
		<% if(data.result.length>0){%>
		<% var k=1 %>
		<% data.result.forEach(function(v){ %>
		<tr>
		<% var date1 = v.time %>
		<% var date3 = new Date(parseInt(date1)) %>
		<% Y = date3.getFullYear() + '-'; %>
		<% M = (date3.getMonth() + 1 < 10 ? '0'+(date3.getMonth()+1):date3.getMonth()+1) + '-';  %>
		<% D = date3.getDate() + ' ';  %>
		<% h = date3.getHours() + ':';  %>
		<% m = date3.getMinutes() + ':';  %>
		<% s = date3.getSeconds() + ' ';  %>
		<% if(v.context != null){ %>
		<% var b = new Buffer(v.fromName, 'base64').toString() %>
		<% var c = new Buffer(v.context, 'base64').toString() %>
		<td><font color="#990000">[<%=Y+M+D+h+m+s %>]</font></td>
		<td><font size="3px" color="#336600"><%=b %></font></td>
		<td><font color="#000066"><strong>(<%=v.fromId %>):</strong></font></td>
		<td><tt><%=c %></tt></td>
		<% } %>
		</tr>
		<% k++; %>
		<% }) %>
		<% } %>
	</tbody>
</table>
</div>
<% }else{ %>
<p><%= data.result %></p>
<% } %>

<script language="javascript">
//表单排序
var th = $('th'),
inverse = false;
th.click(function(){
	var header = $(this),
	index = header.index();
	header.closest('table').find('td').filter(function(){
		return $(this).index() === index;
	}).sortElements(function(a, b){
		a = $(a).text();
		b = $(b).text();
		return ( isNaN(a) || isNaN(b) ? a > b : +a > +b) ?inverse ? -1 : 1 :inverse ? 1 : -1;
	}, function(){
		return this.parentNode;
	});
	inverse = !inverse;
});
//数据导出
$(function(){
    $('#exportExcel').on('click', function(){
        var $this = $(this);
        //设定下载的文件名及后缀
        $this.attr('download', '公会聊天记录.xls');
        //设定下载内容
        $this.attr('href', tableToExcel($('#targetTable')[0], '公会聊天记录'));
    });
});
</script>