
<style type="text/css">
	td{
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	table{
		table-layout:fixed;
	}
</style>
<%
var stime = data.StartTime;
var etime = data.EndTime;
var test = data.test;
%>
<form action="/gamelog/result/google_pay" method="post">
<input type="text" id="StartTime" name="StartTime" value="<%=stime %>" req="true" placeholder="开始时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='开始时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="text" id="EndTime" name="EndTime" value="<%=etime %>" req="true" placeholder="结束时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='结束时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="hidden" id="pageNum" name="pageNum" req="true" placeholder="每页显示数量" exp="^[1-9]\d*$" ts='每页显示数量格式错误' value='50'>
<input type='hidden' name='page_id' id='page_id' value='1'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
<p>查看测试订单<input type="checkbox" id="test" name="test" value="<%=test %>"></p>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<script type="text/javascript">
  F.st();
</script>

<h2>礼包购买查询列表:</h2>
<% if(data.ret==0){ %>

<% if(data.result.length>0){%>
<div class="row-fluid">
	<div class='span2'><a class="btn" id="exportExcel" href="javascript:;">导出Excel</a></div>
	<% if(data.next_id){%>
	<div class='span1'>
		<form action="<%= data.url %>" method="post">
		<input type="hidden" name="StartTime" value='<%=data.StartTime%>'>
		<input type="hidden" name="EndTime" value='<%=data.EndTime%>'>
		<input type="hidden" name="pageNum" value='<%=data.pageNum%>'>
		<input type='hidden' name='page_id' value='<%=data.next_id%>'>
		<button class="btn" type="submit">下一页</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
	<% } %>
	<% if(data.prev_id){%>
	<div class='span1'>
		<form action="<%= data.url %>" method="post">
		<input type="hidden" name="StartTime" value='<%=data.StartTime%>'>
		<input type="hidden" name="EndTime" value='<%=data.EndTime%>'>
		<input type="hidden" name="pageNum" value='<%=data.pageNum%>'>
		<input type='hidden' name='page_id' value='<%=data.prev_id%>'>
		<button class="btn" type="submit">上一页</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
	<% } %>
	<div class='span1'>
		<form action="/gamelog/result/user_information" class="form-signin" method="post" target="_blank">
		<input type="hidden" class="input-block-level" id="serverid" name="serverid" req="true" placeholder="服务器ID" value="1" exp="^[1-9]\d*$" ts='服务器ID格式错误'>
		<input type="text"  id="userid" name="userid" req="true" placeholder="查询玩家信息:请输入账号" exp="^[1-9]\d*$" ts='玩家ID格式错误'>
		<input type="text"  id="username" name="username" req="true" placeholder="用户名"  ts='玩家ID格式错误'>
		<button class="btn" type="submit">查询</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
</div>
<% } %>
<div class="table-responsive">
<table border="1" id="targetTable" name="targetTable">
	<thead>
		<tr>
			<th>OrderId</th>
			<th>User_Id</th>
			<th>Account</th>
			<th>RegisterTime</th>
			<th>Username</th>
			<th>Alliance</th>
			<th>Sku</th>
			<th>PackageId</th>
			<th>ProductId</th>
			<th>TimeStamp(购买时间)</th>
		</tr>
		<tr>
			<th width="250px">订单号</th>
			<th>账号ID</th>
			<th>玩家账号</th>
			<th>注册时间</th>
			<th>玩家角色名</th>
			<th>玩家所属公会(工会ID)</th>
			<th>购买金额</th>
			<th>礼包ID</th>
			<th>商品ID</th>
			<th>UTC时间</th>
		</tr>
	</thead>
	<% if(data.test == "no"){ %>
	<tbody>
		<% if(data.result.length>0){%>
		<% var k=0 %>
		<% var money = new Array() %>
		<% var human = new Array() %>
		<% data.result.forEach(function(v){ %>
		<!-- 去掉测试订单 -->
		<% if(v.orderId){ %>
		<tr>
		<td><%=v.orderId %></td>
		<td><%=v.user_id %></td>
		<% var userid = v.user_id %>
		<% var account %>
		<% data.accountarray.forEach(function(v){ %>
		<% if(userid == v.id){ %>
		<%		account = v.account; %>
		<%	} %>
		<% }) %>
		<td><%=account %></td>
		<!-- 玩家账号注册时间 -->
		<% var registertime %>
		<% data.accountarray.forEach(function(v){ %>
		<% if(userid == v.id){ %>
		<%		registertime = v.register_time; %>
		<%	} %>
		<% }) %>
		<% var date4 = new Date(registertime) %>
		<% Y1 = date4.getFullYear() + '-'; %>
		<% M1 = (date4.getMonth() + 1 < 10 ? '0'+(date4.getMonth()+1):date4.getMonth()+1) + '-';  %>
		<% D1 = date4.getDate() + '   ';  %>
		<% h1 = date4.getHours() + ':';  %>
		<% m1 = date4.getMinutes() + ':';  %>
		<% s1 = date4.getSeconds() + ' ';  %>
		<td width="140"><%=Y1+M1+D1+h1+m1+s1 %></td>
		<!-- 获取玩家角色姓名 -->
		<% var username %>
		<% data.usernamearray.forEach(function(v){ %>
			<% if(userid == v.id){ %>
				<% username = v.username; %>
			<% } %>
		<% }) %>
		<td><%=username %></td>
		<!-- 获取玩家工会 -->
		<% var alliancename %>
		<% var allianceid %>
		<% data.alliancenamearray.forEach(function(v){ %>
		<% if(userid == v.user_id){ %>
		<%		alliancename = v.alliance_name; %>
		<% allianceid = v.alliance_id %>
		<%	} %>
		<% }) %>
		<% if(alliancename == null){ %>
		<% alliancename = "none" %>
		<% } %>
		<td><%=alliancename %><b><font color="blue">(<%=allianceid %>)</font></b></td>
		<% var newsku = v.sku-0.01 %>
		<td><%=newsku %></td>
		<!-- 对package_id进行中文转义 -->
		<% var Package = data.translate; %>
		<% for(var i in Package){ %>
		<% if(parseInt(i) == parseInt(v.package_id)){ %>
		<td><%= v.package_id %><b><font color="blue">(<%=Package[i] %>)</font></b></td>
		<% } %>
		<% } %>
		<!-- 转义结束 -->
		<td><%=v.productId %></td>
		<td><%=v.timestamp %></td>
		</tr>
		<% } %>
		<% k++; %>
		<% money.push(parseInt(newsku)) %>
		<% human.push(v.user_id) %>
		<% }) %>
		<% } %>
		<% if(data.result.length>0){%>
		<tr>
			<th>合计</th>
			<%
			var h = {};
			var totalHuman = new Array();
			for(var i=0; i < human.length ; i++){
				if(!h[human[i]]){
					h[human[i]] = true;
					totalHuman.push(this[i]);
				}
			}
			%>
			<th>购买人数:<%=totalHuman.length %>人  <br>购买次数:<%=k %>次</th>
			<%
			var totalMoney = 0;
			money.forEach(function(b){
				if(!isNaN(b)){
					totalMoney += b;
				}
			})
			%>
			<th>EMPTY</th>
			<th>EMPTY</th>
			<th>EMPTY</th>
			<th>EMPTY</th>
			<th>购买金额:<%=totalMoney %></th>
			<th>购买数量:<%=k %>件</th>
			<th>EMPTY</th>
			<th>EMPTY</th>
		</tr>
		<% } %>
	</tbody>
	<% }else if(data.test == "yes"){ %>
	<tbody>
		<% if(data.result.length>0){%>
		<% var k=0 %>
		<% var money = new Array() %>
		<% var human = new Array() %>
		<% data.result.forEach(function(v){ %>
		<tr>
		<td><%=v.orderId %></td>
		<td><%=v.user_id %></td>
		<% var userid = v.user_id %>
		<% var account %>
		<% data.accountarray.forEach(function(v){ %>
		<% if(userid == v.id){ %>
		<%		account = v.account; %>
		<%	} %>
		<% }) %>
		<td><%=account %></td>
		<!-- 获取玩家角色姓名 -->
		<% var username %>
		<% data.usernamearray.forEach(function(v){ %>
			<% if(userid == v.id){ %>
				<% username = v.username; %>
			<% } %>
		<% }) %>
		<td><%=username %></td>
		<!-- 获取玩家工会 -->
		<% var alliancename %>
		<% var allianceid %>
		<% data.alliancenamearray.forEach(function(v){ %>
		<% if(userid == v.user_id){ %>
		<%		alliancename = v.alliance_name; %>
		<% allianceid = v.alliance_id %>
		<%	} %>
		<% }) %>
		<% if(alliancename == null){ %>
		<% alliancename = "none" %>
		<% } %>
		<td><%=alliancename %><b><font color="blue">(<%=allianceid %>)</font></b></td>
		<% var newsku = v.sku-0.01 %>
		<td><%=newsku %></td>
		<!-- 对package_id进行中文转义 -->
		<% var Package = data.translate; %>
		<% for(var i in Package){ %>
		<% if(parseInt(i) == parseInt(v.package_id)){ %>
		<td><%= v.package_id %><b><font color="blue">(<%=Package[i] %>)</font></b></td>
		<% } %>
		<% } %>
		<!-- 转义结束 -->
		<td><%=v.productId %></td>
		<td><%=v.timestamp %></td>
		</tr>
		<% k++; %>
		<% money.push(newsku) %>
		<% human.push(v.user_id) %>
		<% }) %>
		<% } %>
		<% if(data.result.length>0){%>
		<tr>
			<th>合计</th>
			<%
			var h = {};
			var totalHuman = new Array();
			for(var i=0; i < human.length ; i++){
				if(!h[human[i]]){
					h[human[i]] = true;
					totalHuman.push(this[i]);
				}
			}
			%>
			<th>购买人数:<%=totalHuman.length %>人  <br>购买次数:<%=k %>次</th>
			<%
			var totalMoney = 0;
			money.forEach(function(b){
				totalMoney += b;
			})
			%>
			<th>EMPTY</th>
			<th>EMPTY</th>
			<th>EMPTY</th>
			<th>购买金额:<%=totalMoney %></th>
			<th>购买数量:<%=k %>件</th>
			<th>EMPTY</th>
			<th>EMPTY</th>
		</tr>
		<% } %>
	</tbody>
	<% } %>
</table>
</div>
<% }else{ %>
<p><%= data.result %></p>
<% } %>

<script language="javascript">
//表单排序
var th = $('th'),
inverse = false;
th.click(function(){
	var header = $(this),
	index = header.index();
	header.closest('table').find('td').filter(function(){
		return $(this).index() === index;
	}).sortElements(function(a, b){
		a = $(a).text();
		b = $(b).text();
		return ( isNaN(a) || isNaN(b) ? a > b : +a > +b) ?inverse ? -1 : 1 :inverse ? 1 : -1;
	}, function(){
		return this.parentNode;
	});
	inverse = !inverse;
});
//数据导出
$(function(){
    $('#exportExcel').on('click', function(){
        var $this = $(this);
        //设定下载的文件名及后缀
        $this.attr('download', '礼包购买查询列表.xls');
        //设定下载内容
        $this.attr('href', tableToExcel($('#targetTable')[0], '礼包购买查询列表'));
    });
});
</script>