<style type="text/css">
	td{
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	table{
		table-layout:fixed;
	}
</style>
<h2>玩家设备信息查询结果:</h2>
<% if(data.ret==0){ %>

<% if(data.result.length>0){%>
<div class="row-fluid">
	<div class='span2'><a class="btn" id="exportExcel" href="javascript:;">导出Excel</a></div>
	<% if(data.next_id){%>
	<div class='span1'>
		<form action="<%= data.url %>" method="post">
		<input type="hidden" name="StartTime" value='<%=data.StartTime%>'>
		<input type="hidden" name="EndTime" value='<%=data.EndTime%>'>
		<input type="hidden" name="pageNum" value='<%=data.pageNum%>'>
		<input type='hidden' name='page_id' value='<%=data.next_id%>'>
		<button class="btn" type="submit">下一页</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
	<% } %>
	<% if(data.prev_id){%>
	<div class='span1'>
		<form action="<%= data.url %>" method="post">
		<input type="hidden" name="StartTime" value='<%=data.StartTime%>'>
		<input type="hidden" name="EndTime" value='<%=data.EndTime%>'>
		<input type="hidden" name="pageNum" value='<%=data.pageNum%>'>
		<input type='hidden' name='page_id' value='<%=data.prev_id%>'>
		<button class="btn" type="submit">上一页</button>
		<% if (csrf) { %>
		<input type="hidden" name="_csrf" value='<%= csrf %>'>
		<% } %>
		</form>
	</div>
	<% } %>
</div>
<% } %>
<div class="table-responsive">
<table class="table table-striped table-hover table-bordered" id="targetTable" name="targetTable">
	<thead>
		<tr>
			<th>Udid</th>
			<th>ip</th>
			<th>Context</th>
			<th>server_stamp</th>
			<th>version</th>
		</tr>
	</thead>
	<tbody>
		<% if(data.result.length>0){%>
		<% var k=1 %>
		<% data.result.forEach(function(v){ %>
		<tr>
		<td><%=v.udid %></td>
		<td><%=v.ip %></td>
		<td><%=v.context %></td>
		<% var date5 = new Date(v.server_stamp) %>
		<% Y2 = date5.getFullYear() + '-'; %>
		<% M2 = (date5.getMonth() + 1 < 10 ? '0'+(date5.getMonth()+1):date5.getMonth()+1) + '-';  %>
		<% D2 = date5.getDate() + ' ';  %>
		<% h2 = date5.getHours() + ':';  %>
		<% m2 = date5.getMinutes() + ':';  %>
		<% s2 = date5.getSeconds() + ' ';  %>
		<td><%=Y2+M2+D2+h2+m2+s2 %></td>
		<td><%=v.version %></td>
		</tr>
		<% k++; %>
		<% }) %>
		<% } %>
	</tbody>
</table>
</div>
<% }else{ %>
<p><%= data.result %></p>
<% } %>

<script language="javascript">
//表单排序
var th = $('th'),
inverse = false;
th.click(function(){
	var header = $(this),
	index = header.index();
	header.closest('table').find('td').filter(function(){
		return $(this).index() === index;
	}).sortElements(function(a, b){
		a = $(a).text();
		b = $(b).text();
		return ( isNaN(a) || isNaN(b) ? a > b : +a > +b) ?inverse ? -1 : 1 :inverse ? 1 : -1;
	}, function(){
		return this.parentNode;
	});
	inverse = !inverse;
});
//数据导出
$(function(){
    $('#exportExcel').on('click', function(){
        var $this = $(this);
        //设定下载的文件名及后缀
        $this.attr('download', '玩家设备信息数据.xls');
        //设定下载内容
        $this.attr('href', tableToExcel($('#targetTable')[0], '玩家设备信息数据'));
    });
});
</script>