<h3 class="form-signin-heading"><%= ctx %></h3>
<form action="<%= url %>" class="form-signin" method="post">
<select id="serverid" name="serverid">
  <option value="1">--请选择服务器--</option>
  <% for(var i=1;i < 10;i++){ %>
  <option value = "<%=i %>"><%=i %></option>
  <% } %>
</select>
<input type="text" class="input-block-level" id="StartTime" name="StartTime" req="true" placeholder="开始时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='开始时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="hidden" class="input-block-level" id="EndTime" name="EndTime" req="true" placeholder="结束时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='结束时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="hidden" class="input-block-level" id="pageNum" name="pageNum" req="true" placeholder="每页显示数量" exp="^[1-9]\d*$" ts='每页显示数量格式错误' value='500'>
<input type='hidden' name='page_id' id='page_id' value='1'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
<p>查看当日注册玩家<input type="checkbox" id="test" name="test" value="yes"></p>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<hr>

<h3 class="form-signin-heading">玩家打怪行为分布</h3>
<form action="/gamelog/result/count_rebel" class="form-signin" method="post">
<select id="serverid" name="serverid">
  <option value="1">--请选择服务器--</option>
  <% for(var i=1;i < 10;i++){ %>
  <option value = "<%=i %>"><%=i %></option>
  <% } %>
</select>
<input type="text" class="input-block-level" id="StartTime" name="StartTime" req="true" placeholder="开始时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='开始时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="hidden" class="input-block-level" id="EndTime" name="EndTime" req="true" placeholder="结束时间 2006-01-02 13:04:00 使用的是UTC时间标准" ts='结束时间格式错误' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
<input type="hidden" class="input-block-level" id="pageNum" name="pageNum" req="true" placeholder="每页显示数量" exp="^[1-9]\d*$" ts='每页显示数量格式错误' value='500'>
<input type='hidden' name='page_id' id='page_id' value='1'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
<p>查看当日注册玩家<input type="checkbox" id="test" name="test" value="yes"></p>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>
<p><b>注意:</b><br>1.查询条件为当日查询<br>2.行为明细显示各玩家打怪明细<br>3.行为分布统计了各玩家打怪的次数</p>
<script type="text/javascript">
  F.st();
</script>